*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
  background: #F4F7FD;
}

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}
a:active {
  color: black;
}

p {
  font-weight: 600;
  font-size: 14px;
  font-family: sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  font-family: sans-serif;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  font-family: sans-serif;
}

h3 {
  font-weight: 600;
  font-size: 17px;
  font-family: sans-serif;
}

span {
  color: #5AA4ED;
}

img {
  width: 44px;
  height: auto;
}

.button {
  display: inline-block;
  background: #5AA4ED;
  padding: 10px 30px;
  border-radius: 30px;
  color: #ebebeb;
  transition: 0.1s ease-in-out;
  border: none;
}
.button:hover {
  background: #1882E6;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: solid #1882E6 1px;
  font-weight: bold;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #FFFFFF;
}
nav a {
  padding: 20px 10px;
  display: inline-block;
  transition: 0.2s ease-in-out;
}
nav a:hover {
  color: #ebebeb;
  background: #5AA4ED;
  cursor: pointer;
}

.nav-button a {
  text-transform: uppercase;
}

.home {
  background: #D4E4FB;
  position: relative;
  display: grid;
}
.home .container {
  display: flex;
  padding: 150px 0 14px 0;
}
@media screen and (max-width: 800px) {
  .home .container {
    display: block;
  }
}
.home .left-home {
  width: 40%;
  margin: auto 0 auto 10%;
  display: flex;
  flex-direction: column;
}
.home .left-home h3 {
  width: 85%;
  margin-top: 50px;
}
.home .left-home a {
  margin: 50px 0;
  width: fit-content;
  padding: 25px 51px;
  letter-spacing: 7px;
}
@media screen and (max-width: 800px) {
  .home .left-home {
    margin: auto 5px;
  }
}
.home .right-home {
  width: 40%;
  margin-left: 10%;
}
.home .right-home img {
  width: 595px;
  height: auto;
}
@media screen and (max-width: 1510px) {
  .home .right-home img {
    width: 395px;
    height: auto;
  }
}
@media screen and (max-width: 1510px) and (max-width: 1000px) {
  .home .right-home img {
    width: 195px;
    height: auto;
  }
}
@media screen and (max-width: 1000px) {
  .home .right-home {
    margin: auto;
    width: fit-content;
  }
}
@media screen and (max-width: 1000px) {
  .home {
    display: block;
    padding: 0;
  }
}

.picto {
  width: 269px;
  display: flex;
  justify-content: space-between;
}
.picto .picto-container {
  padding: 18px;
  border-radius: 42px;
  transition: 0.2s ease-in-out;
}
.picto .picto-container a {
  width: fit-content;
  padding: 0;
}
.picto .picto-container:hover {
  filter: invert(100%);
}
.picto img {
  height: 44px;
}

.click-here {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(Assets/lightWaveBk3.svg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0 200px;
}

.about {
  background: #D4E4FB;
  padding: 100px 10% 20% 10%;
  position: relative;
}
.about h1 {
  text-transform: uppercase;
}
.about h1 span {
  letter-spacing: -3px;
  color: initial;
}
.about h3 {
  margin: 50px 0 50px 25px;
}
.about h3 span {
  color: #E8A206;
}
.about::after {
  content: "";
  background: url(Assets/bkTopParcours.svg) no-repeat;
  background-size: cover;
  /* background-position: center; */
  position: absolute;
  height: 177px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.level-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}

.level-right, .level-left {
  width: 400px;
}
.level-right h3, .level-left h3 {
  margin: 0;
  padding: 0 10px;
  background-color: #D4E4FB;
  position: absolute;
  top: -12px;
}

.level-left h3 {
  left: 8px;
}

.level-right h3 {
  right: 8px;
}

.level {
  border: solid 4px #E8A206;
  border-radius: 5px;
  position: relative;
  padding: 40px 30px;
  margin: 0 0 50px 0;
  display: flex;
  justify-content: space-evenly;
}
.level img {
  width: 58px;
  height: auto;
  transition: 0.2s;
}
.level img:hover {
  filter: invert(100%);
}

.parcours {
  background: #F4F7FD;
  padding: 0 10% 213px 120px;
  width: 100%;
  position: relative;
}
.parcours h1 {
  text-transform: uppercase;
  margin-bottom: 100px;
}
.parcours h1 span {
  letter-spacing: -3px;
  color: initial;
}
.parcours h2 {
  font-weight: 500;
}
.parcours .parcour-section a {
  z-index: 2;
  margin-top: 40px;
}
.parcours::after {
  content: "";
  background: url(Assets/bkTopPortfolio.svg) no-repeat;
  background-size: cover;
  /* background-position: center; */
  position: absolute;
  height: 215px;
  bottom: 0px;
  left: 0px;
  right: 0;
}

.parcour-section {
  padding: 50px 0;
}
.parcour-section h1 {
  margin: 0;
  font-size: 28px;
}

.parcour-left {
  position: relative;
  display: flex;
  border-bottom-right-radius: 150px;
  flex-direction: column;
}
.parcour-left a {
  width: fit-content;
  margin: auto;
}

.parcour-right {
  text-align: end;
  position: relative;
}
.parcour-right p {
  width: inherit;
}

.parcour-1::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 52%;
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  border-bottom-right-radius: 150px;
}

.parcour-2::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0px;
  height: 101%;
  width: 52%;
  border-top: solid 2px black;
  border-left: solid 2px black;
  border-bottom: solid 2px black;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
}

.parcour-3::after {
  content: "";
  position: absolute;
  bottom: 2px;
  right: 0px;
  height: 100%;
  width: 52%;
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  border-top: solid 2px black;
  border-bottom-right-radius: 150px;
  border-top-right-radius: 150px;
}

.parcour-4::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0px;
  height: 100%;
  width: 52%;
  border-top: solid 2px black;
  border-left: solid 2px black;
  border-top-left-radius: 150px;
}

.portfolio {
  background: #D4E4FB;
  padding: 100px 10% 0 10%;
}
.portfolio h1 {
  text-transform: uppercase;
  margin-bottom: 100px;
}
.portfolio h1 span {
  letter-spacing: -3px;
  color: initial;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 2px 2px -2px gray;
  margin-bottom: 50px;
}
.portfolio-container .color {
  width: 455px;
  height: 255px;
  display: flex;
}
.portfolio-container .color a {
  margin: auto;
}
.portfolio-container .color1 {
  background: #C34F5A;
}
.portfolio-container .color1 a {
  color: white;
  font-size: 64px;
}
.portfolio-container .color2 {
  background: #27213C;
}
.portfolio-container .color2 img {
  width: 184px;
  height: auto;
}
.portfolio-container .color3 {
  background: #FFFFFF;
}
.portfolio-container .color3 img {
  width: 83px;
  height: auto;
}
.portfolio-container .color4 {
  background: #AA1414;
}
.portfolio-container .color4 img {
  width: 300px;
  height: auto;
}

.portfolio-right, .portfolio-left {
  width: 50%;
  margin: auto;
}
.portfolio-right p, .portfolio-left p {
  font-weight: 600;
  margin-top: 20px;
}
.portfolio-right a, .portfolio-left a {
  margin-top: 20px;
  float: right;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.contact {
  background: #F4F7FD;
  padding: 100px 10% 0 10%;
}
.contact h1 {
  text-transform: uppercase;
  margin-bottom: 100px;
}
.contact h1 span {
  letter-spacing: -3px;
  color: initial;
}

.flex-contact {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-contact .contact-left, .flex-contact .contact-right {
  margin: 0 auto;
}

.contact-left {
  width: 459px;
}
.contact-left form {
  width: 100%;
}
.contact-left form .top-part {
  display: flex;
  justify-content: space-between;
}
.contact-left form .top-part .form-element {
  width: 45%;
}
.contact-left form .form-element {
  display: flex;
  flex-direction: column;
}
.contact-left form input, .contact-left form textarea {
  background-color: #D6EAFF;
  border: none;
  font-size: 24px;
  padding: 8px;
  margin-bottom: 15px;
  width: 100%;
  outline: solid 1px #1882E6;
}
.contact-left form input:focus, .contact-left form textarea:focus {
  outline: solid 1px #1882E6;
  box-shadow: 0 0 7px 1px #1882E6;
}
.contact-left form input:valid, .contact-left form textarea:valid {
  outline: solid 1px rgba(56, 134, 56, 0.5);
  box-shadow: 0 0 7px 1px #388638;
}
.contact-left form textarea {
  resize: none;
  height: 259px;
}

.contact-right .contact-right-container {
  display: flex;
}
.contact-right img {
  width: 24px;
  height: auto;
}
.contact-right iframe {
  width: 100%;
  outline: solid 2px #1882E6;
}

footer {
  background: #1882E6;
  margin-top: 50px;
  padding: 10px 10%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer img {
  filter: invert(100%);
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
