*, ::after, ::before {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}
a:active {
  color: black;
}

p {
  font-weight: 600;
  font-size: 14px;
  font-family: sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  font-family: sans-serif;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  font-family: sans-serif;
}

h3 {
  font-weight: 600;
  font-size: 17px;
  font-family: sans-serif;
}

span {
  color: #5AA4ED;
}

img {
  width: 44px;
  height: auto;
}

.button {
  background: #5AA4ED;
  padding: 10px 30px;
  border-radius: 30px;
  color: #ebebeb;
  transition: 0.1s ease-in-out;
}
.button:hover {
  background: #1882E6;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: solid #1882E6 1px;
  font-weight: bold;
  position: relative;
}
nav a {
  padding: 20px 10px;
  display: inline-block;
  transition: 0.2s ease-in-out;
}
nav a:hover {
  color: #ebebeb;
  background: #5AA4ED;
  cursor: pointer;
}

.nav-button a {
  text-transform: uppercase;
}

.home {
  background: #D4E4FB;
  position: relative;
  display: grid;
}
.home .container {
  display: flex;
  padding: 150px 0 14px 0;
}
@media screen and (max-width: 800px) {
  .home .container {
    display: block;
  }
}
.home .left-home {
  width: 40%;
  margin: auto 0 auto 10%;
  display: flex;
  flex-direction: column;
}
.home .left-home h3 {
  width: 85%;
  margin-top: 50px;
}
.home .left-home a {
  margin: 50px 0;
  width: fit-content;
  padding: 25px 51px;
  letter-spacing: 7px;
}
.home .left-home .picto {
  width: 269px;
  display: flex;
  justify-content: space-between;
}
.home .left-home .picto .picto-container {
  padding: 18px;
  border-radius: 42px;
  transition: 0.2s ease-in-out;
}
.home .left-home .picto .picto-container:hover {
  background: #5AA4ED;
}
.home .left-home .picto img {
  height: 44px;
}
@media screen and (max-width: 800px) {
  .home .left-home {
    margin: auto 5px;
  }
}
.home .right-home {
  width: 40%;
  margin-left: 10%;
}
.home .right-home img {
  width: 595px;
  height: auto;
}
@media screen and (max-width: 1510px) {
  .home .right-home img {
    width: 395px;
    height: auto;
  }
}
@media screen and (max-width: 1510px) and (max-width: 1000px) {
  .home .right-home img {
    width: 195px;
    height: auto;
  }
}
@media screen and (max-width: 1000px) {
  .home .right-home {
    margin: auto;
    width: fit-content;
  }
}
@media screen and (max-width: 1000px) {
  .home {
    display: block;
    padding: 0;
  }
}

.click-here {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(/Assets/lightWaveBk.svg) no-repeat;
  background-size: cover;
  padding: 55px 0;
}
@media screen and (max-width: 1000px) {
  .click-here {
    padding: 42px 0 26px 0;
  }
}
@media screen and (max-width: 1000px) and (max-width: 800px) {
  .click-here {
    padding: 76px 0px 28px 0;
  }
}

/*# sourceMappingURL=style.css.map */
