// *************** General ****************

$blue : #5AA4ED;
$light-bk: #D4E4FB;
$orange: #E8A206;
$dark-blue: #1882E6;
$white: rgb(235, 235, 235);


*, ::after, ::before{
  padding: 0;
  margin: 0;
  font-family: sans-serif ;
}
html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  &:active{
    color: black;
  }
}
p{
  font-weight: 600;
  font-size: 14px;
  font-family: sans-serif;
}
h1{
  font-weight: 600;
  font-size: 36px;
  font-family: sans-serif;
}
h2{
  font-weight: 600;
  font-size: 24px;
  font-family: sans-serif;
}
h3{
  font-weight: 600;
  font-size: 17px;
  font-family: sans-serif;
}
span{
  color: $blue;
}
img{
  width: 44px;
  height: auto;
}
.button{
  background: $blue;
  padding: 10px 30px;
  border-radius: 30px;
  color: $white;
  transition: 0.1s ease-in-out;
  &:hover{
    background: $dark-blue;
  }
}

// *************** Nav ****************

nav{
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: solid $dark-blue 1px ;
  font-weight: bold;
  position: relative;
  a{
    padding: 20px 10px;
    display: inline-block;
    transition: 0.2s ease-in-out;
    &:hover{
      color: $white;
      background: $blue;
      cursor:pointer;
    }
  }
}
  
.nav-button{
  a{
    text-transform: uppercase;
  }
}
// ************END NAV*************

.home{
   background: $light-bk;
   position: relative;
   display: grid;

   .container{
    display: flex;
    padding: 150px 0 14px 0;
    @media screen and (max-width: 800px) {
      display: block;
    }
  
  }

  .left-home{
    width: 40%;
    margin: auto 0 auto 10%;
    display: flex;
    flex-direction: column;

    h3{
      width: 85%;
      margin-top: 50px;
    }
    a{
      margin: 50px 0;
      width: fit-content;
      padding: 25px 51px;
      letter-spacing: 7px;
    }
    .picto{
      width: 269px;
      display: flex;
      justify-content: space-between;
      .picto-container{
        padding: 18px;
        border-radius: 42px;
        transition: 0.2s ease-in-out;
        &:hover{
          background: $blue;
        }
      }
      img{
        height: 44px;
      }
    }

    @media screen and (max-width: 800px) {
      margin: auto 5px;
    }
  }
  .right-home{
    width: 40%;
    margin-left: 10%;

    img{
      width: 595px;
      height: auto;
      @media screen and (max-width: 1510px) {
        width: 395px;
        height: auto;
        @media screen and (max-width: 1000px) {
          width: 195px;
          height: auto;
        }
      }
      
    }

    @media screen and (max-width: 1000px) {
      margin: auto;
      width: fit-content;
    }
  }

  @media screen and (max-width: 1000px) {
    display: block;
    padding: 0;
  }

}

.click-here{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(/Assets/lightWaveBk.svg) no-repeat;
  background-size: cover;
  padding: 55px 0;
  @media screen and (max-width: 1000px) {
    padding:42px 0 26px 0;
    @media screen and (max-width: 800px) {
      padding: 76px 0px 28px 0;
    }
  }

}
// **************** RESPONSIVE ********************
@media screen and (max-width: 800px) {
  
}